<footer class="footer">
    <div class="footer__wrapper container">
        <h3 class="footer__title">- get in touch with us -</h3>
        <p class="footer__graph">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. </p>
        <p class="footer__another-graph">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <div class="footer__icons">
            <a href="#"><img class="footer__icons-icon" src="@img/footer_icons/RSS.png" alt="rss_icon"></a>
            <a href="#"><img class="footer__icons-icon" src="@img/footer_icons/Facebook.png" alt="facebook_icon"></a>
            <a href="#"><img class="footer__icons-icon" src="@img/footer_icons/Twitter.png" alt="twitter_icon"></a>
            <a href="#"><img class="footer__icons-icon" src="@img/footer_icons/Dribbble.png" alt="dribble_icon"></a>
            <a href="#"><img class="footer__icons-icon" src="@img/footer_icons/Pinterest.png" alt="pinterest_icon"></a>
        </div>
        <div class="footer__contacts">
            <address>Moonshine St. 14-05 Light City&nbsp/&nbsp</address>
            <a href="tel:+00 (123) 456 78 90">T. +00 (123) 456 78 90&nbsp/&nbsp</a>
            <a href="mailto:first.last@email.com">first.last@email.com</a>
        </div>
    </div>
</footer>