<header class="header container">
    <div class="header__nav-wrapper">
        <div class="menu__icon icon-menu">
            <span></span>
        </div>
        <nav class="header__top-menu">
            <ul class="header__top-list">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">About Us</a></li>
                <li><a href="javascript:void(0)">Our Journal</a></li>
                <li><a href="javascript:void(0)">Projects</a></li>
                <li><a href="javascript:void(0)">news</a></li>
                <li><a href="javascript:void(0)">features</a></li>
                <li><a href="javascript:void(0)">contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__main-img">
        <img src="@img/intro-img.png" alt="main-image">
    </div>
</header>