<section class="insta-shots"> 
    <div class="insta-shots__wrapper container">
        <div class="title-link">
            <h3 class="title-link__title">- Last Instagram Shot</h3>
            <h4 class="title-link__another-title">- Latest Instagram Shots</h4>
            <a class="title-link__link" href="javascript:void(0)">go to our instagram page -</a>
        </div>
        <div class="insta-shots__images">
            <div class="insta-shots__images-img"><img src="@img/insta-post-1.png" alt="insta-post-1"></div>
            <div class="insta-shots__images-img"><img src="@img/insta-post-2.png" alt="insta-post-2"></div>
            <div class="insta-shots__images-img"><img src="@img/insta-post-3.png" alt="insta-post-3"></div>
            <div class="insta-shots__images-img"><img src="@img/insta-post-4.png" alt="insta-post-4"></div>  
        </div>
    </div>
    
</section>