<section class="our-posts container">
    <div class="our-posts__content">
        <div class="our-posts__title">
            <h2>
            - our Recent posts
            </h2>
        </div>
        <div class="our-posts__wrapper">
            <div class="our-posts__wrapper-item">
                <div class="our-posts__wrapper-item-img">
                    <img src="@img/post-img-1.png" alt="post-img-1">
                </div>
                <div class="wrapper__items">
                    <a class="wrapper__items-title" href="javascript:void(0)">
                        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
                    </a>
                    <a href="javascript:void(0)" class="wrapper__items-link">Photography, Journal&nbsp  /&nbsp 9 Comments</a>
                    <p class="wrapper__items-graph">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="our-posts__wrapper-item">
                <div class="our-posts__wrapper-item-img">
                    <img src="@img/post-img-2.png" alt="post-img-2">
                </div>
                <div class="wrapper__items">
                    <a class="wrapper__items-title" href="javascript:void(0)">
                        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
                    </a>
                    <a href="javascript:void(0)" class="wrapper__items-link">Photography, Journal&nbsp /&nbsp 9 Comments</a>
                    <p class="wrapper__items-graph">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="our-posts__wrapper-item">
                <div class="our-posts__wrapper-item-img">
                    <img src="@img/post-img-3.png" alt="post-img-3">
                </div>
                <div class="wrapper__items">
                    <a class="wrapper__items-title" href="javascript:void(0)">
                        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
                    </a>
                    <a href="javascript:void(0)" class="wrapper__items-link">Photography, Journal&nbsp /&nbsp 9 Comments</a>
                    <p class="wrapper__items-graph">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="our-posts__wrapper-item">
                <div class="our-posts__wrapper-item-img">
                    <img src="@img/post-img-4.png" alt="post-img-4">
                </div>
                <div class="wrapper__items">
                    <a class="wrapper__items-title" href="javascript:void(0)">
                        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
                    </a>
                    <a href="javascript:void(0)" class="wrapper__items-link">Photography, Journal&nbsp /&nbsp 9 Comments</a>
                    <p class="wrapper__items-graph">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
        </div>
    </div>
</section>