.footer {
    text-align: center;
    background-color: $footer_bg;
    &__title {
        color: $footer_title;
        font-family: $ff-base-bold;
        font-size: $fs-base-milli;
        line-height: $lh-base-xs;
        text-transform: uppercase;
        padding: rem(38) 0 rem(8) 0;
    }
    &__graph {
        color: $footer_paragraph;
        font-size: $fs-micro;
        line-height: $lh-default;
        padding: 0 rem(30) rem(26);
    }
    &__another-graph {
        display: none;
    }
    &__icons {
        @include flex-center;
        gap: rem(6);
        margin-bottom: rem(25);
        &-icon {
            cursor: pointer;
            width: rem(34);
            height: rem(34);
        }
    }
    &__contacts {
        @include flex-column;
        font-size: $fs-base-milli;
        line-height: $lh-base-m;
        color: $footer_paragraph;
        padding-bottom: rem(47);
        & a:hover:nth-child(2),
        & a:hover:nth-child(3) {
            cursor: pointer;
            text-decoration: underline;
        }
        & a {
            color: $footer_paragraph;
        }
    }
}
@media (min-width: 768px) {
    .footer {
        &__title {
            font-size: $fs-base;
            padding: rem(57) 0 rem(22);
        }
        &__graph {
            display: none;
        }
        &__another-graph {
            display: block;
            text-align: center;
            color: $footer_paragraph;
            font-size: $fs-base;
            line-height: $lh-base-xl;
            padding: 0 rem(20) rem(37);
        }
        &__icons {
            margin-bottom: rem(34);
        }
        &__contacts {
            flex-direction: row;
            justify-content: center;
            padding-bottom: rem(56);
        }
    }
}
@media (min-width: 993px) {
    .footer__another-graph {
        padding: 0 rem(240) rem(37);
    }
}