.header {
    color: $top_text;
    &__nav-wrapper {
        display: flex;
        justify-content: end;
        position: relative;
    }
    &__top-list li:nth-child(1){
        color: $top_text_home;
    }   
    &__main-img {
        @include flex-center;
    }
    &__top-menu {
        display: none;
        position: absolute;
        top: rem(60);
        transition: all 0.3s ease 0s; 
        background-color: #F5F5F5;
        transform: translate(-100%);
        color: $top_text;
        &.active {
            display: flex;
            transform: translate(0);
            transition: 0.5s;
        }
    }
    &__top-list {
        text-transform: uppercase;
        margin: 0;
        font-size: $fs-nano;
        line-height: $lh-default;
        letter-spacing: 1.1px;
        & a {
            display: flex;
            align-items: center;
            padding: rem(4) rem(79) rem(4) rem(14);

        }
        & a:hover {
            background-color: $hover_list;
        }
    }
    .icon-menu {
        position: relative;
        width: rem(44);
        height: rem(37);
        background-color: #000;
        margin: rem(23) 0;
        & span{
            position: absolute;
            background-color: #fff;
            left: rem(13);
            width: rem(18);
            height: rem(2);
            top: rem(17);
        }
        &:before,
        &:after{
            content: '';
            background-color: #fff;
            position: absolute;
            width: rem(18);
            height: rem(2);
            left: rem(13);
            transition: all 0.3s ease 0s;
        }
        &:before{
            top: rem(13);
        }
        &:after{
            bottom: rem(14);
        }
        &.active span{
            transform: scale(0);
        }
        &.active:before{
            transform: rotate(45deg);
            top: rem(18);
        }
        &.active:after{
            transform: rotate(-45deg);
            bottom: rem(17);
        }
    }
}
@media (min-width: 768px){
    .header {
        @include flex-column;
        align-items: center;
        &__top-list {
            display: flex;
            column-gap: rem(34);
            padding: rem(42) 0;
            letter-spacing: rem(1.1);
        }
        &__top-menu {
            display: flex;
            position: relative;
            transform: translate(0);
            background: none;
            top: 0;
            right: 0;
        }
        &__top-menu a {
            cursor: pointer;
            padding: 0;
            &:hover {
                background: none;
            }
        }
        .icon-menu {
            display: none;
        }
    }
}
@media (min-width: 993px) {
    .header__top-list {
        column-gap: rem(68);
        padding: rem(47) 0;

    }
}