.insta-shots {
    color: $top_text;
    margin-bottom: rem(42);
    &__wrapper {
        @include flex-column;
    }
    .title-link {
        display: flex;
        font-family: $ff-base-bold;
        text-transform: uppercase;
        padding: rem(19) 0 rem(17) 0;
        &__title{
            font-size: $fs-base-milli;
            line-height: $lh-base-xs;
        }
        &__another-title {
            display: none;

        }
        &__link {
            color: $top_text;
            cursor: pointer;
            display: none;
            &:hover {
                text-decoration:underline;
            }
        }
    }
    &__images {
        @include flex-column;
        &-img {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        &-img:nth-child(2),
        &-img:nth-child(3),
        &-img:nth-child(4) {
            display: none;
        }
        & img {
            transition: all 0.3s ease;
        }
        & img:hover {
            transform: scale(1.05);
        }
    }
}
@media (min-width: 616px) {
    .insta-shots__images {
        display: flex;
        flex-direction: row;
        column-gap: rem(5);
        &-img:nth-child(2) {
            display: flex;
        }   
    }
}
@media (min-width: 768px) {
    .insta-shots {
        background-color: $insta_section_bg;
        margin-bottom: rem(4);
        .wrapper {
            @include flex-column;
            align-items: start;
        }
        .title-link {
            justify-content: space-between;
            padding: rem(47) 0 rem(35) 0;
            &__title{
                display: none;
            }
            &__another-title {
                display: flex;
                font-size: $fs-base;
                line-height: $lh-base-xs;
            }
            &__link {
                display: flex;
                font-size: $fs-milli;
                line-height: $lh-base-xs;      
            }
        }
        &__images {
            flex-direction: row;
            column-gap: rem(9);
            margin-bottom: rem(50);
            &-img:nth-child(2),
            &-img:nth-child(3) {
                display: flex;
            }
            &-img:nth-child(4) {
                display: none;
            }
        }
    }
}
@media (min-width: 993px) {
    .insta-shots {
        .title-link {
            padding: rem(47) 0 rem(24) 0;
            &__title{
                display: none;
            }
            &__another-title {
                display: flex;
            }
        }
        &__images {
            margin-bottom: rem(49);
            column-gap: rem(10);
            &-img:nth-child(4) {
                display: flex;
            }
        }
    }
}