.our-posts {
    @include flex-column;
    align-items: flex-start;
    &__title {
        font-family: $ff-base-bold;
        color: $top_text;
        text-transform: uppercase;
        line-height: $lh-base-xs;
        font-size: $fs-base-milli;
        margin-bottom: rem(23);
    }
    &__content {
        margin: rem(38) 0 rem(39);
    }
    &__wrapper {
        @include flex-column;
        row-gap: rem(29);
        &-item {
            @include flex-column;
            .wrapper__items {
                margin-top: rem(11);
                &-title {
                    font-family: $ff-base-bold;
                    color: $top_text;
                    font-size: $fs-base-milli;
                    line-height: $lh-base-xxl;
                    cursor: pointer;
                }
                &-link {
                    color: $card_section_sub;
                    font-size: $fs-nano;
                    line-height: $lh-default;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &-graph {
                    display: none;
                    color: $card_section_graph;
                    margin-top: rem(5);
                    font-size: $fs-micro;
                    line-height: $lh-base-s;
                    max-width: rem(324);
                }
            }
            &-img {
                max-width: rem(160);
                & img {
                    width: 100%;
                }
            }
        }
        &-item:last-child {
            display: none;
        }
    }
}
@media (min-width:487px) {
    .our-posts {
        &__content {
            margin: rem(56) 0 rem(60) 0;
        }
        &__title {
            font-size: $fs-base;
            line-height: $lh-base-xs;
            margin-bottom: rem(24);
        }
        &__wrapper {
            row-gap: rem(32);
            &-item {
                display: flex;
                flex-direction: row;
            }
            &-item:last-child {
                display: flex;
            }
        }
    .wrapper__items {
        margin: 0 0 0 rem(11);
            &-title {
                font-size: $fs-base;
                line-height: $lh-base-xxl;
            }
            &-link {
                font-size: $fs-micro;
                line-height: $lh-default;
            }
            &-graph {
                display: flex;
                max-width: rem(404);
                font-size: $fs-base-milli;
                line-height: $lh-base-l;
            }
    }
}
    
}
@media (min-width: 993px) {
    .our-posts {
        &__content {
            margin: rem(66) 0 rem(69) 0;
        }
        &__wrapper {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            column-gap: rem(25);
            &-item {
                display: flex;
                flex-direction: row;
                .wrapper__items {
                    margin-left: rem(20);
                    &-title {
                        margin-bottom: rem(1);
                    }
                    &-link {
                        margin-bottom: rem(13);
                    }
                    &-graph {
                        display: block;
                    }
                }
            }
            
        }
    }
}