//Px to rem math
@use "sass:math";
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
// Fonts
$ff-base: 'Roboto', sans-serif;
$ff-base-bold: 'Roboto-bold', sans-serif;

// Font-sizes
$fs-base: rem(16);
$fs-base-milli: rem(14);
$fs-milli: rem(13);
$fs-micro: rem(12);
$fs-nano: rem(11);

// Line Heights
$lh-default: rem(20);
$lh-base-xs: rem(22);
$lh-base-s: rem(23);
$lh-base-m: rem(24);
$lh-base-l: rem(26);
$lh-base-xl: rem(28);
$lh-base-xxl: rem(30);

// Colors
$top_text: #4E4E4E;
$hover_list: #E5E5E5;
$top_text_home: #57A4A4;
$card_section_sub: #7C7C7C;
$card_section_graph: #5C5C5C;
$footer_title: #FEFEFE;
$footer_paragraph: #B9B9B9;
// Background
$insta_section_bg:#f7f7f7;
$footer_bg: #000000;