// Імпорт стилів
@import "_reset";
@import "_fonts";
@import "_mixins";
@import "_variables";
@import "sections/sections";


body {
    width: 100%;
    font-family: $ff-base;
    background-color: rgba(0, 0, 0, 0.0001);
}
.container {
	margin: 0 auto;
    padding: 0px 15px;
}
@media (min-width: 993px) {
	.container {
	  max-width: rem(1170);
	}
}
  